@font-face {
  font-family: "OpenSans";
  src: url("./OpenSans-Light.ttf");
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  background: #020202;
  margin: 0;
}

#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  color: #FFFFFF;
  font-size: 96px;
  line-height: 96px;
  font-family: OpenSans, sans-serif;
  letter-spacing: -2px;
  white-space: nowrap;
  margin: 0;
  user-select: none;
  -webkit-user-select: none;
}

#icons {
  display: flex;
  margin-top: 25px;
}

.icon:not(:first-of-type) {
  margin-left: 50px;
}

.icon:hover {
  cursor: pointer;
}

.icon:hover > i {
  opacity: 0.2201998;
  transition: 0.2201998s;
}

i {
  color: #FFFFFF;
  font-size: 32px;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 48px;
  }

  i {
    font-size: 24px;
  }
}
